.intro-header {
  background-image: url("../Homepage.png");
}

.buffer-oauth {
  position: absolute;
    top: 20%
}

.robot-game {
  margin-top: 100px;
}

.ghost-button {
  margin-left: 133%;
  margin-top:130px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  width: 200px;
  padding: 8px;
  color: white;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
    top: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: auto;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
