.jumbotron {
  background-image: url("../JellyRobot.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: contain;
  width: 100%; /* make sure to define width to fill container */
  height: 1000px;
}

.ghost-button {
  margin-left: 133%;
  margin-top:130px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  width: 200px;
  padding: 8px;
  color: white;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: auto;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
